@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
a, a:active, a:focus {
    outline: none;
}
.p-head {
    margin-bottom: 8px; color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#outline .btn-sm {
    padding: 0!important;
    margin: 0!important;
    width: 30px;
    text-align: center!important;
}
#outline .bg-info {
    margin-left: -30px;
    margin-right: -30px;
    padding: 12px 30px;
    color: rgba(0,0,0, 0.67);
}
.bub-danger{
    background-color: rgba(226, 32, 91, 0.77);
}
.bub-alert{
    background-color: rgba(248, 208, 102, 0.87);
}
.form-control:focus {
    border-color: #66afe9;
    box-shadow: none;
    outline: 0 none;
}
.nav-tabs li a span {
    border-radius: 100%;
    color: #ffffff;
    float: right;
    height: 18px;
    position: absolute;
    right: -3px;
    top: -6px;
    width: 18px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding-top: 1px;
    z-index: 1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.nav-tabs > li.active > a span{
    padding-top: 4px;
    right: -7px;
    top: -10px;
    width: 24px;
    height: 24px;
    font-size: 12px;
}
.nav-tabs > li.active > a .glyphicon-ok-circle, .nav-tabs > li.active > a:hover .glyphicon-ok-circle, .nav-tabs > li.active > a:focus .glyphicon-ok-circle {
    color: #22C45A;
}
.nav-tabs > li.active > a .glyphicon-remove-circle, .nav-tabs > li.active > a:hover .glyphicon-remove-circle, .nav-tabs > li.active > a:focus .glyphicon-remove-circle {
    color: #DD2722;
}
.nav-tabs > li.active > a .glyphicon-warning-sign, .nav-tabs > li.active > a:hover .glyphicon-warning-sign, .nav-tabs > li.active > a:focus .glyphicon-warning-sign {
    color: #F4CB00;
}
.nav-tabs > li.active > a .glyphicon-eye-open, .nav-tabs > li.active > a:hover .glyphicon-eye-open, .nav-tabs > li.active > a:focus .glyphicon-eye-open {
    color: #0F87E0;
}
.btn-head {
    cursor: default;
    color: #fff;
}
.btn-head:hover {
    color: #FFFFFF;
}
.p-1{font-size: 15px; margin-top: 8px;}
.p-2 {margin-left: 15px; font-size: 15px}
.p-3 {margin-left: 30px; font-size: 14px;}
.p-4 {margin-left: 45px; font-size: 13px;}
.p-5 {margin-left: 60px; font-size: 12px;}
.p-6 {margin-left: 75px; font-size: 11px;}

.btn-1{background: #6D5CAE; }
.btn-2{background: #48B0F7;}
.btn-3{background: #10CFBD }
.btn-4{background: #F55753}
.btn-5{background: #FFDA92 }
.btn-6{background: #FFA781}
#auto {margin-top: -18px}
#outline {margin-top: -18px}
#auto ul{
    padding-left: 11px;
}
#error >ul {
    padding-left: 0;
}
.panel-body{
    margin-top: 4px;
    padding-left: 0;
    padding-right: 0;
}
.panel-success{
    background: rgba(239, 252, 247, 0.4);
}
.panel-default{
    background: rgba(242, 242, 242, 0.2);
}
.panel-warning{
    background-color: rgba(254, 136, 64, 0.02);
}
.panel-body ol{
    padding-left: 30px;
}
.panel-body ul{
    padding-left: 10px;
    padding-right: 10px;
}
.panel-body ul li {
    list-style: none;
}
#auto .panel-body ol li{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
}
code.line{
    background-color: #f9f2f4;
    border-radius: 0;
    font-size: 95%;
    padding: 2px 4px;
}
.content-correct{
    padding: 20px 30px;
    margin-bottom: 15px;
}
.form-control{
    border-radius: 0;
    box-shadow: none;
}
.btn-default {
    background: #F6F6F6;
}
.info-detail {
    margin-top: 4px;
    margin-bottom: 4px;
}
.info-detail hr{
    margin-top: -2px;
    margin-bottom: 6px;
}
.btn-sm {padding: 1px 10px}
.correct-text {
    width: 74%;
    margin-right: 12px;
    float: left;
}
.col-md-6 .form-container{
    padding: 10px 0;
    line-height: 13px;
    min-height: 75px;
}
.form-group button{
    margin-left: 5px;
}
p.tag-info {margin-bottom: 10px;overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap; line-height: 14px}
.col-md-6 .form-container:nth-of-type(even){
    background: #F6F6F6;
    margin: 0 -30px;
    padding: 10px 30px;
}
header{height: 50px}
.btn {border-radius: 0}
#open-button {border-radius: 50px}
form .btn {
    height: 40px;
}
.correct-close-tag {
    background-color: #F2EDE3;
    border-radius: 4px;
    color: #767C89;
    font-size: 85%;
    padding: 2px 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.nav-tabs > li > a.btn-download {
    border: 1px solid transparent;
    border-radius: 0;
    background: #10CFBD;
    color: #FFFFFF;
    font-weight: bold;
}
.btn-download.disabled{
    cursor: not-allowed;
}
.nav-tabs > li > a:hover.btn-download {
    background: #40D9CA;
}
.nav-tabs {visibility: hidden}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #888888;
    color: #fff;
}

.nav-pills > li > a {  border-radius: 0;  }
.container-fluid {background-color: #F1F1F1;
    padding-bottom: 15px;
}
textarea.form-control, .content-correct {
    background-color: #FFFFFF;
    height: 480px;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: auto;
}
input.form-control.url{  border-bottom: none;  }
.url-strict{
    border: 1px solid #B5BAC0;
    border-top: none;
    background: #FFF;
}
.url-strict p{
    font-size: 23px;
    color: #777;
    text-align: center;
    padding-top: 180px;
}
.tag-info, .form-inline {
    font-size: 90%;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
#selesai {margin-bottom: 30px}
.show-code {
    border-radius: 0;
    height: 480px;
    display: none;
    margin-bottom: 15px;
}
.show-code .btn {
    padding: 10px 15px;
}
.show-code.show{display: block}
.all-form.vanish {display: none}
.showcode-container {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 480px;
    overflow: scroll;
}
/*.all-form {*/
    /*display: none;*/
/*}*/
pre {overflow: visible; background: #FFFFFF; border-color: #FFFFFF; padding: 0; margin: 0; border-radius: 0;
    display: inline-table;
    width: 100%;
}
.line.active {
    background: #FFEDBD;
}

footer {
    color: #FFFFFF; padding: 15px; text-align: center; background-color: #262626; width: 100%;
    position: relative;
    bottom: 0;
}
/*Revealing fault info*/
.show-menu .content::before {
    position: absolute;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.content::before {
    background: rgba(55, 58, 71, 0.1) none repeat scroll 0 0;
    content: "";
    height: 550px;
    left: 0;
    opacity: 0;
    top: 0;
    transform: translate3d(100%, 0px, 0px);
    transition-delay: 0s, 0.4s;
    transition-duration: 0.4s, 0s;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    width: 100%;
    z-index: 10;
}
.content {
    position: relative;
}
/*.content-wrap {*/
    /*overflow-y: scroll;*/
/*}*/
html, body, .container, .content-wrap {
    /*overflow: hidden;*/
    width: 100%;
}
.show-menu .menu-wrap {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
.menu-wrap {
    background: #ffffff;
    font-size: 1.15em;
    height: 550px;
    padding: 8px;
    position: absolute;
    transform: translate3d(-520px, 0px, 0px);
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    width: 500px;
    z-index: 1001;
    overflow: auto;
}
.menu-wrap .btn {
    border-radius: 100px;
}
.glyphicon-fire{  color: #EE5E4F;}
.glyphicon-flash {color: #69B1C4}
.info-container{
    padding: 22px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.info-container a.pull-right{
    text-decoration: underline;
}
.info-container h3 {
    margin: 0;
    border-bottom: 1px solid #67FCA6;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50);
    padding-bottom: 18px;
}
.info-container h3::before {
    background-color: #67FCA6;
    content: "";
    height: 10px;
    margin-top: 39px;
    position: absolute;
    width: 36px;
}

#explanation{
    padding-bottom: 12px;
    color: rgba(0, 0, 0, 0.58);
}
#explanation p{
    margin-top: 12px;
}
#instruction {
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 16px;
    color: #444444;
}
#instruction ul {
    background: azure none repeat scroll 0 0;
    margin-top: 10px;
    padding: 20px 10px 20px 30px;
    color: #8BA8A8;
}
#instruction ul code{
    opacity: 0.78;
}

#technique {margin-bottom: 30px}
#technique ul {
    margin: 12px 0 0 0;
    padding: 0;
}
#technique ul li {
    list-style: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.58);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#official {
    padding-bottom: 40px;
    padding-top: 12px;
    color: rgba(0, 0, 0, 0.76);
}
#official ol{
    padding-left: 10px;
    padding-bottom: 20px;
}
#official li{
    font-size: 14px;
}
p.info-other{
    background-color: #FFEEED;
    color: #444;
    padding: 6px 30px;
    margin-left: -30px;
    margin-right: -30px;
}
code {background-color: transparent}
#alert >ul {margin-left: 12px; padding: 0;margin-top: 12px;}

#alert-list >li, #error-list >li, #outline ul li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 14px 10px;
    color: rgba(0, 0, 0, 0.5);
}
#basic-list{
    padding-top: 35px;
}
#auto-list{
    padding-top: 17px;
}
#basic-list >li, #auto-list >li {
    list-style: none;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.5);
    clear: both;
}
#basic-list >li:nth-last-child(1), #auto-list >li:nth-last-child(1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 30px;
}
#basic-list a.btn-info, #auto-list a.btn-info{
    font-weight: bold;
    padding: 0 8px;
    margin-left: 10px!important;
}
#basic-list strong{
    display: block;
    width: 75px;
    float: left;
}
#auto-list >li .btn, #alert-list >li .btn, #basic-list >li .btn{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-left: 4px;
}
#auto-list >li .btn-info, #alert-list >li .btn-info, #basic-list >li .btn-info{
    margin-left: 15px;
}
ul li samp {  font-size: 12px;  }
#alert-list code {  padding-left: 0;  }
#error .btn-success, #error .btn-info{border-radius: 50px}
.btn-tag {
    background: transparent none repeat scroll 0 0;
    border-radius: 100px;
    color: rgba(0, 0, 0, 0.78) !important;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-tag:hover, .btn-tag:active, .btn-tag.active {
    color: #ffffff!important;
}
.btn-tag:hover i, .btn-tag:active i, .btn-tag.active i{
    color: #ffffff!important;
}

.btn-info.btn-tag i{
    color: #57A0FC;
}
a#close-button{color: #FFFFFF}

#alert .panel-body ol{
    padding-left: 12px;
    padding-top: 12px;
}
#alert .panel-body ol li{
    display: inline;
    margin-right: 12px;
}

/* Language class check */
/* Basic */

ol#lang-form {
    padding-left: 0;
}
ol#lang-form .btn {
    border-radius: 0;
}
ol#lang-form .form-control {
    float: left;
    margin-right: 12px;
    width: 74%;
}
ol#lang-form .form-group {
    margin-bottom: 0;
}
/* Outline style */
#outline ul {
    padding-left: 0;
    margin: 12px 0 18px 0;
}
#outline ul li .btn-sm {
    padding: 2px 5px !important;
    width: 72px;
}

/* Image tag check */
/* Alert */
#panel_btnalert .panel-body ol li, #panel_italicalert .panel-body ol li, #panel_linkalert .panel-body ol li,
#panel_imgalert .panel-body ol li
{
    display: block;
}


#alert a.collapse{
    display: inline;
}
#alert a.no-collapse {
    display: none;
}
#alert li.collapse{
    display: block;
}
#alert li.no-collapse, li.collapse{
    border-bottom: none!important;
}
#alert .panel-body ol >li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.border-btm{
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#alert li.no-collapse{padding-bottom: 0!important;}

#alert .panel-collapse .panel-body {
    padding: 0;
}
#alert .no-collapse .panel-body ol{
    padding-top: 5px;
    padding-bottom: 12px;
}
#alert .collapse .panel-body ol{
    margin-top: -20px;
}
.btn.btn-success.btn-sm i.glyphicon-menu-down::before{
    content:"\e260";
}
.btn.btn-success.btn-sm.collapsed i.glyphicon-menu-down::before{
    content:"\e259";
}


/* Title tag check */
/* Auto */
li.ttl-check span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 430px;
    display: block;
    float: left;
}



/* CHART style */
.ct-series-d .ct-area, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-slice-pie {
    fill: #8f65ff;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
    fill: #4fadff;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
    fill: #fff544;
}
.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie {
    fill: #ff4858;
}
.ct-label {
    color: rgba(0, 0, 0, 0.4);
    fill: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    font-weight: bold;
}
.ct-chart{
    margin-top: 20px;
    margin-bottom: 20px;
}
#report{
    display: none;
}
.summ-info h3{
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
}
.summ-info ul li{
    list-style: none;
    margin-left: 34px;
    margin-right: 50px;
    color: rgba(0, 0, 0, .5);
    clear: both;
}
.summ-info ul li strong{
    display: block;
    width: 36px;
    float: left;
}
li.stacked{
    background: #FFFFFF;
}
.btn.focus, .btn:focus{
    color: #FFF!important;
}
.btn.focus i, .btn:focus i{
    color: #FFF!important;
}