# Created by .ignore support plugin (hsz.mobi)
.idea/
.DS_Store
Thumbs.db
npm-debug.log
/bower_components
/node_modules
/vendor
/backup
/doc
mda.php
dom_learn.php
html_dom.php
contrast-ratio.php
newfile.html
temp1.html
temp2.html

